@import "./Variables";

.timeline {
    min-height: 70vh;
    margin-bottom: 8rem;
    .timeline-content {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        
    }
}


.timeline-component {
    display: flex;
    min-width: 8rem;
    .timeline-date {
        margin: 0rem 2rem;
        font-size: 1.8rem;

    }
    .timeline-date-continued {
        margin: 0rem 2rem;
        color: hsla(0,0%,0%, 0);
        font-size: 1.8rem;
        user-select: none;
        
    }
    .timeline-middle {
        background: hsl(0, 0%, 90%);
        .timeline-point {
            background: hsl(0, 0%, 90%);
            min-height: 10rem;
            width: 2px;
        }
    }
    .timeline-resources {
        display: flex;
        align-items: flex-start;
        
        .timeline-description {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0rem 4rem;
            width: 54rem;
            .second-line {
                transform: translate(-10%);
            }
            p {
                font-size: 2.4rem;
                
            }
            
            .span-big {
                height: 2px;
                background: hsl(0, 0%, 90%);
                width: calc(100% + 14.4rem);
                transform: translateX(-10.4rem);
                
            }
        }
        .timeline-description-small {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0rem 4rem;
            width: 20rem;
            p {
                font-size: 1.6rem;
                margin-bottom: 0.4rem;
            }
            .span-small {
                height: 2px;
                background: hsl(0, 0%, 90%);
                width: calc(100% + 12rem);
                transform: translateX(-10.2rem);
            }
            

        }
        
        
        .timeline-big {
            box-shadow: 0 6px 8px 0 hsla(0, 0, 60%, 0.2);
            margin-bottom: 2rem;
            
            img {
                height: 20rem;
            }
        }

    }
            
}

