@import "./Variables";
.hero-container {
    min-height: 70vh;
    margin-bottom: 4rem;
    
    .hero-content {
        padding: 4rem 4rem;
        border-radius: 10px;
        background: $boxesandtimelines;
        display: flex;
        align-items: center;
        max-width: 80%;
        margin: 0 auto;
        .hero-picture {
            margin-right: 4rem;
            img {
                height: 40rem;
                border-radius: 10px;
                
            }
        }
        .hero-text {
            color: hsl(0, 0%, 5%);
            font-weight: 400;
            font-size: 2.2rem;
            display: flex;
            align-items: center;
           
            
        }
    }
}