@import "./Variables";
.nav-bar{
    margin-bottom: 6rem;
    .nav-bar-content {
        height: 10vh;
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav-bar-name {
            cursor: pointer;
            font-size: 4rem;
            width: 40%;
            white-space: nowrap;

        }
        .nav-bar-links {
            position: relative;
            width: 60%;
            display: flex;
            justify-content: space-evenly;
            list-style-type: none;
            transform: translateY(20%);
            
            .nav-link {
                cursor: pointer;
                width: 12vw;
                height: 10vh;
                margin-right: 12px;
               
            }
            
        }
    }
}
//links 

.home-link {
    background-image: url('../assets/images/navbarButtons/akshanhome.png');
    &:hover {
        background: url('../assets/images/navbarButtons/akshanhome2.png');
        background-size: contain;
    background-repeat: no-repeat;
    }
}
.home-toggled {
    background: url('../assets/images/navbarButtons/akshanhome2.png');
}



.tft-link {
    background: url('../assets/images/navbarButtons/ViegoTFT.png');
    &:hover {
        background: url('../assets/images/navbarButtons/ViegoTFT2.png');
        background-size: contain;
    background-repeat: no-repeat;
    }
}
.tft-toggled {
    background: url('../assets/images/navbarButtons/ViegoTFT2.png');
}



.gat-link {
    background: url('../assets/images/navbarButtons/RellGAT.png');
    &:hover {
        background: url('../assets/images/navbarButtons/RellGAT2.png');
        background-size: contain;
    background-repeat: no-repeat;
    }
}
.gat-toggled {
    background: url('../assets/images/navbarButtons/RellGAT2.png');
}



.esports-link {
    background: url('../assets/images/navbarButtons/SamiraEsports.png');
    &:hover {
        background: url('../assets/images/navbarButtons/SamiraEsports2.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
}
.esports-toggled {
    background: url('../assets/images/navbarButtons/SamiraEsports2.png');
}



.contact-link {
    background: url('../assets/images/navbarButtons/SennaContact.png');
    &:hover {
        background: url('../assets/images/navbarButtons/SennaContact2.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
}
.contact-toggled {
    background: url('../assets/images/navbarButtons/SennaContact2.png');
}


.button-settings {
    background-size: contain;
    background-repeat: no-repeat;
}