@import "./Variables";
.nav-bar{
    margin-bottom: 6rem;
    .nav-bar-content {
        height: 10vh;
        width: 75%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav-bar-name {
            cursor: pointer;
            font-size: 4rem;
            width: 40%;
            white-space: nowrap;

        }
        .nav-bar-links {
            width: 60%;
            display: flex;
            justify-content: space-evenly;
            list-style-type: none;
            
            li {
                user-select:none;
                cursor: pointer;
                background-color: $boxesandtimelines;
                color: hsl(0,0, 10%);
                min-width: 8rem;
                text-align: center;
                padding: 0.6rem 1.8rem;
                font-size: 1.8rem;
                font-weight: bold;
                border-radius: 4px;
                &:hover {
                    background-color: $currentTab;
                }
            }
            .toggled-button {
                background: $currentTab;
            }
            
        }
    }
}

