
* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    
    background: #2b2d42;
    color: #edf2f4;
}
a {
    color: hsl(0,0%, 85%); 
    text-decoration: none;
}
html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
}
@import "./Contact";
@import "./NavBar";
@import "./Home";
@import "./GATTimeline";
@import "./TFTTimeline";
@import "./Thankyou";
@import "./Footer";
@import "./Mediaqueries";
